{% extends 'store/base.html' %}
{% load static %}

{% block content %}
     <div class="hero-wrap hero-bread" style="background-image: url({% static 'store/images/bg_about.jpg'%});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Спортзал у вас дома</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
                 <p> </p>
                <p> </p>
              <p>Теперь не нужно копить деньги, чтобы купить качественные тренажеры и начать заниматься спортом. Их можно просто взять в аренду, без залога и по разумной цене! Не нужно тратить время и деньги на походы в фитнес-клубы и спортивные залы. Занимайтесь в комфортной домашней обстановке, сосредоточившись на ваших целях и двигайтесь к желаемому результату.

Аренда беговых дорожек, аренда эллиптических и велотренажеров, аренда степперов, гребных тренажеров и тренажеров для растяжки. Все это доступно вам уже сейчас.

Стоимость аренды начинается от 1500 руб в мес. Ассортимент тренажеров сейчас насчитывает более 50 наименований. На сегодняшний день это самый большой выбор оборудования в аренду в Москве.

Наши мастера привезут и установят выбранный вами тренажер уже через 1-2 дня после заказа.

Все оборудование находится на гарантии, а значит вам не нужно думать о его ремонте, в случае поломки или выхода из строя. Все эти задачи мы берем на себя!

Вместе с заказанным оборудованием, мастер привезет инструкцию по эксплуатации заказанного вами тренажера, договор и кассовый чек.

Оформить заявку на аренду вы можете на сайте, по телефону или в любом из удобных для вас мессенджеров. Это займет у вас не более 5 минут</p>
            </div>
          </div>
        </div>
    </div>

{% endblock %}