{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'store/images/bg_cart.jpg'%});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Корзина</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Наименование</th>
						        <th>Цена за день аренды</th>
						      </tr>
						    </thead>
						    <tbody>
							{% for p in data %}
						      <tr class="text-center">
						        <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod">
									<img class="img-fluid" src="/{{ p.product.image }}" alt="Colorlib Template" width="200" height="200">
								</td>
						        
						        <td class="product-name">
						        	<h3>{{p.product.name}}</h3>
						        </td>
						        
						        <td class="price">{{p.product.price}}</td>
						        

						      </tr><!-- END TR-->
							{% endfor %}

						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-end">


    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Итог</h3>
    					<p class="d-flex">
    						<span>Стоимость</span>
    						<span>{{total}} руб/день.</span>
    					</p>
    					<p class="d-flex">
    						<span>Доставка</span>
    						<span>800.00 руб.</span>
    					</p>
    					<p class="d-flex">
    						<span>Скидка</span>
    						<span>0.00 руб.</span>
    					</p>
    					<hr>
    				</div>

					<form method="post" action="http://127.0.0.1:8000/form2/">
        			{% csrf_token %}
						<table>
							<tr>
								<td>Выберите дату доставки:</td>
								<td><input  type="date" name="date_shipping"></td>
							</tr>
							<tr>
								<td>Выберите дату возврата:</td>
								<td><input  type="date" name="date_return"></td>
							</tr>
							<tr>
								<td>Выберите время доставки:</td>
								<td><select name="select" size="1">
    						<option selected value="10am - 12pm">10am - 12pm</option>
    						<option selected value="12pm - 15pm">12pm - 15pm</option>
							<option selected value="15pm - 18pm">15pm - 18pm</option>
							<option selected value="18pm - 20pm">18pm - 20pm</option>
							<option selected value="20pm - 22pm">20pm - 22pm</option>
						</select></td>
							</tr>
							<tr>
								<td>Контактный телефон:</td>
								<td><input  name="phone"></td>
							</tr>
						<tr>
								<td>Адрес:</td>
								<td><textarea  name="adress"></textarea></td>
							</tr>
							<tr>
								<td>Комментарии:</td>
								<td><textarea  name="comment"></textarea></td>
							</tr>
							<tr>
								<td>Выберите тип оплаты:</td>
								<td><select name="select2" size="1">
    						<option selected value="1">наличными при доставке</option>
    						<option value="2">картой при доставке</option>
						</select></td>
							</tr>
						</table>
        <input type="submit"  value="Сделать заказ" />
    </form>

    			</div>
    		</div>
			</div>
		</section>

    {% endblock %}