{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'store/images/bg_cart.jpg'%});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Корзина</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Наименование</th>
						        <th>Цена</th>
						        <th>Срок аренды, дней</th>
						        <th>Итог</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr class="text-center">
						        <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod"><div class="img" style="background-image:url({% static 'products/prod10.jpg'%});"></div></td>
						        
						        <td class="product-name">
						        	<h3>DFC B803</h3>
						        </td>
						        
						        <td class="price">50</td>
						        
						        <td class="quantity">
						        	<div class="input-group mb-3">
					             	<input type="text" name="quantity" class="quantity form-control input-number" value="10" min="1" max="365">
					          	</div>
					          </td>
						        
						        <td class="total">500</td>
						      </tr><!-- END TR-->

						      <tr class="text-center">
						        <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod"><div class="img" style="background-image:url({% static 'products/prod4.jpg'%});"></div></td>
						        
						        <td class="product-name">
						        	<h3>Cardio Power T10</h3>
						        </td>
						        
						        <td class="price">125</td>
						        
						        <td class="quantity">
						        	<div class="input-group mb-3">
					             	<input type="text" name="quantity" class="quantity form-control input-number" value="10" min="1" max="100">
					          	</div>
					          </td>
						        
						        <td class="total">1250</td>
						      </tr><!-- END TR-->
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-end">


    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Итог</h3>
    					<p class="d-flex">
    						<span>Стоимость</span>
    						<span>1750.00 руб.</span>
    					</p>
    					<p class="d-flex">
    						<span>Доставка</span>
    						<span>0.00 руб.</span>
    					</p>
    					<p class="d-flex">
    						<span>Скидка</span>
    						<span>0.00 руб.</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>К оплате</span>
    						<span>1750 руб.</span>
    					</p>
    				</div>
    				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Перейти к оформлению</a></p>
    			</div>
    		</div>
			</div>
		</section>

    {% endblock %}